<% provide :title, t(".subtitle") %>
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <%= t ".new_products" %>
    </h3>
    <!-- //tittle heading -->
    <div class="row">
      <!-- product left -->
      <div class="agileinfo-ads-display col-lg-9">
        <div class="wrapper">
          <!-- first section -->
          <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            <h3 class="heading-tittle text-center font-italic">
              <%= t ".category_name" %>
            </h3>
            <div class="row">
              <div class="col-md-4 product-men mt-5">
                <div class="men-pro-item simpleCart_shelfItem">
                  <div class="men-thumb-item text-center">
                    <img src="images/m1.jpg" alt="">
                    <div class="men-cart-pro">
                      <div class="inner-men-cart-pro">
                        <%= link_to t(".quick_view"), "#",
                          class: "link-product-add-cart"%>
                      </div>
                    </div>
                  </div>
                  <div class="item-info-product text-center border-top mt-4">
                    <h4 class="pt-1">
                      <%= link_to t(".product_name"), "#"%>
                    </h4>
                    <div class="info-product-price my-2">
                      <span class="item_price"> <%= t ".price" %> </span>
                      <del> <%= t ".price" %> </del>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //first section -->
          <!-- third section -->
          <div class="product-sec1 product-sec2 px-sm-5 px-3">
            <div class="row">
              <h3 class="col-md-4 effect-bg">
                <%= t ".summer_carnival" %>
              </h3>
              <p class="w3l-nut-middle">
                <%= t ".get_off" %>
              </p>
              <div class="col-md-8 bg-right-nut">
                <%= image_tag("image1.png", alt: " ") %>
              </div>
            </div>
          </div>
          <!-- //third section -->
        </div>
      </div>
      <!-- //product left -->
      <!-- product right -->
      <!-- //product right -->
      </div>
    </div>
  </div>
</div>
<!-- //top products -->
