<!-- banner -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item item1 active">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p> <%= t ".get_flat" %>
              <span><%= t ".percent" %></span>
              <%= t ".cashback" %>
            </p>
            <%= link_to t(".show_now"), "#", class: "button2" %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item2">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p> <%= t ".get_flat" %>
              <span><%= t ".percent" %></span>
              <%= t ".cashback" %>
            </p>
            <%= link_to t(".show_now"), "#", class: "button2" %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item3">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p> <%= t ".get_flat" %>
              <span><%= t ".percent" %></span>
              <%= t ".cashback" %>
            </p>
            <%= link_to t(".show_now"), "#", class: "button2" %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item4">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p> <%= t ".get_flat" %>
              <span><%= t ".percent" %></span>
              <%= t ".cashback" %>
            </p>
            <%= link_to t(".show_now"), "#", class: "button2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //banner -->
